@use "./base.scss";

// put your custom CSS here!
.page-title {
  font-size: 1.5rem; 
  margin: 1rem 0;  

  & a {
    color: var(--dark); 
    text-decoration: none;
    font-weight: 700; 
    
    &:hover {
      color: var(--secondary);
    }
  }
}

.recent-notes {
  h3 {
    font-size: 1rem !important;
    margin-bottom: 0.5rem !important;
  }
  
  .recent-ul {
    padding-left: 0 !important;
    
    .recent-li {
      margin-bottom: 0.4rem !important;
      
      a {
        font-size: 0.9rem !important;
        font-weight: 400 !important;
      }
      
      .meta {
        font-size: 0.75rem !important;
      }
    }
  }
}